@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container{
    max-width: 1736px;
} */
body {
    /* font-family: normal normal bold 28px/42px Poppins; */
}

.height-bg {
    height: 503px; 
    /* opacity: 0.3; */

}

.height-page-detail {
    height: 365px;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-image-event {
    width: 382px;
    height: 256px;
    opacity: 1;
}

.md-card-image-event{
    width: 239px;
    height: 133px;
    opacity: 1;
}

.event-h-screen {
    /* width: 100%; */
    height: 85vh;
    
}

.card-img-checkout {
    width: 349px;
    height: 234px;
    background-size: cover;
}

#react-qrcode-logo {
    margin: auto;
}

.ant-divider-horizontal.ant-divider-with-text {
    border-top-color: #2EBAE2 !important;
}

.cover-img {
    width: 100%;
    height: 429px;
    background: url('./images/cover.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.md-card-img{
    width: 100%;
    height: 100%;
    background: url('./images/cover.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.content-page-detail {
    height: 398px;
    width: 100%;
    opacity: 1;
    background-size: contain;
    background: no-repeat;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}