@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container{
    max-width: 1736px;
} */
.height-bg {
    min-height: 503px;
    opacity: 0.3;

}

.card-image-event {
    width: 382px;
    height: 256px;
    border-radius: 8px;
    opacity: 1;
}
.event-h-screen{
    width: 100%;
    height: 90vh;
}